{% extends 'base/base.html' %}

{% load static %}

{% block extrastyle %}
<link rel="stylesheet" href="{% static 'polls/jobs.css' %}">
{% endblock %}

{% block content %}
<div class="container-sm">
    <div class="offset-sm-2 col-sm-8 update-container">
        <h2>Insurances</h2>
        <div class="row">
            <form action={% url "adm:insurance_create"%}>
                {% csrf_token %}
                <input type="submit" class="mt-5" value="Create insurance" />
            </form>    
        </div>
        {% if insurances %}
        <table class="mt-5">
            <tr>
                <th>Id</th>
                <th>Vehicle id</th>
                <th>Start</th>
                <th>End</th>
                <th></td>
            </tr>
            {% for insurance in insurances %}
            <tr>
                <td><a href={% url "adm:insurance_update" insurance.id %}>{{ insurance.id }}</a></td>
                <td>{{ insurance.id_vehicle }}</td>
                <td>{{ insurance.insurance_start }}</td>
                <td>{{ insurance.insurance_end }}</td>
                <td><a href={% url "adm:insurance_delete" insurance.id %}>Delete</a></td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
        <strong>There are no insurances.</strong>
        {%endif%}
        <hr style="height: 5px; background: black; width: 80%; margin: 20px auto;">
        <p style="text-align: center;">{{ quote }}</p>
    </div>
</div>
{% endblock %}