{% extends 'base/base.html' %}

{% load static %}

{% block extrastyle %}
<link rel="stylesheet" href="{% static 'polls/jobs.css' %}">
{% endblock %}

{% block content %}
<div class="container-sm">
    <div class="offset-sm-2 col-sm-8 update-container">
        <h2>Marks</h2>
        <div class="row">
            <form action={% url "adm:mark_create"%}>
                {% csrf_token %}
                <input type="submit" class="mt-5" value="Create mark" />
            </form>    
        </div>
        {% if marks %}
        <table class="mt-5">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th></td>
            </tr>
            {% for mark in marks %}
            <tr>
                <td><a href={% url "adm:mark_update" mark.id %}>{{ mark.id }}</a></td>
                <td>{{ mark.name }}</td>
                <td><a href={% url "adm:mark_delete" mark.id %}>Delete</a></td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
        <strong>There are no marks.</strong>
        {%endif%}
        <hr style="height: 5px; background: black; width: 80%; margin: 20px auto;">
        <p style="text-align: center;">{{ quote }}</p>
    </div>
</div>
{% endblock %}